<!Doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Game List App Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Here is the List</h1>
    <div id="entries-list">


    </div>
    <script>
        fetch('/getdata')
        .then(function(response) {
            return response.json();
        })
        .then(function(entries) {
            console.log(JSON.stringify(entries));
            entries.entries.forEach(function(entry) {
                document.getElementById("entries-list").innerHTML += "<div><p>Game: " + entry.title+"</p><p>Genre: " +entry.genre+"</p><p>Date: "+entry.date+"</p></div><br>";
            })
                
        });
        
    </script>
</body>
</html>